fastapi>=0.115.0
uvicorn>=0.30.6
streamlit>=1.39.0
langchain>=0.3.0
langgraph>=0.2.22
sentence-transformers>=3.1.1
transformers>=4.45.1
torch>=2.2.0
faiss-cpu>=1.8.0
rank-bm25>=0.2.2
numpy>=1.26.4
pandas>=2.2.2
scikit-learn>=1.5.2
python-dotenv>=1.0.1
groq>=0.11.0
google-genai>=1.0.0
plotly>=5.24.1
tqdm>=4.66.5
pydantic>=2.9.2
sqlalchemy>=2.0.35
ragas>=0.1.21
datasets>=2.21.0
nest_asyncio>=1.6.0
python-multipart>=0.0.12
psycopg2-binary>=2.9.9
tenacity>=8.2.3
